
---
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
      - org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration
      - com.sap.cloud.security.spring.autoconfig.SecurityConfiguration
      - com.sap.cloud.security.spring.autoconfig.HybridIdentityServicesAutoConfiguration
      - com.sap.cloud.security.spring.autoconfig.XsuaaTokenFlowAutoConfiguration
  config.activate.on-profile: default
  sql.init.platform: h2
cds:
  data-source.auto-config.enabled: false
  security:
    enabled: false
---
management:
  endpoint:
    health:
      show-components: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health
  health:
    defaults:
      enabled: false
    ping:
      enabled: true
    db:
      enabled: true
---
spring:
  config:
    activate:
      on-profile: cloud
cds:
  security:
    authentication:
      kind: ias

#