
---
spring:
  config.activate.on-profile: default
  sql.init.platform: h2
cds:
  data-source.auto-config.enabled: false
---
management:
  endpoint:
    health:
      show-components: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health
  health:
    defaults:
      enabled: false
    ping:
      enabled: true
    db:
      enabled: true
---
spring:
  config:
    activate:
      on-profile: cloud

sap:
  spring:
    security:
      identity:
        prooftoken: false
---
spring:
  config:
    activate:
      on-profile: sandbox

sap:
  spring:
    security:
      identity:
        prooftoken: false
